* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
}

h2 {
  margin: 2rem 0;
}

.skill img {
  width: 110px;
  height: 100px;
}
.skill p {
  margin: 0.7rem 0;
}
#skills {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.skill {
  background-color: rgb(247, 247, 247);
  padding: 2rem;
  border: 1px solid rgb(197, 188, 188);
  border-radius: 3px;
  margin: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.skills_group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: space-around;
  text-align: center;
  max-width: 900px;
}
.skill:nth-child(odd) {
  background-color: rgb(288, 288, 900);
}

progress[value] {
  height: 1.5rem;
  background: transparent;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border: radius 5px;
}

progress[value]::-webkit-progress-value {
  background: coral;
  border-radius: 5px;
  background-size: 35px 20px;
}
